.create_container {
  position: absolute;
  top: -2px;
  left: 50%;
  background-color: #e1e3e9;
  width: 476px;
  height: 710px;
  background-image: url('../../../public/assets/images/create-image.jpg');
  background-repeat: no-repeat;
  background-position: bottom -22px right -135px;

  & div {
    position: absolute;
    top: -2px;
    left: 50%;
  }
}

.create_image {
  position: absolute;
  top: 0;
  left: 44%;
  max-width: 686px;
  max-height: 736px;
}

.create_mask {
    font-size: 200px;
}
