.app {
  position: relative;
  margin-bottom: 335px;

  @media screen and (max-width: 1120px) {
    margin-bottom: 630px;
  }

  @media screen and (max-width: 720px) {
   align-self: flex-end;
   margin-bottom: 746px;
  }

  @media screen and (max-width: 565px) {
    margin-bottom: 46px;
  }
}

.app_apple,
.app_android {
  width: 55.5px;
  height: 55.5px;

  background: #2d3240;
  border: 1px solid #e1e3e9;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.app_apple {
  background-image: url("../../../public/assets/images/apple-icon.svg");
}

.app_android {
  position: absolute;
  top: 0;
  left: 43.5px;
  background-image: url("../../../public/assets/images/android-icon.svg");
}

.app_description {
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
