.carousel {
  margin-bottom: 62px;
  color: white;
}

.slick-slider {
  display: flex !important;
  align-items: center;
}

.slick-slide div {
  margin: 0 1rem;
  width: 239px !important;
}

.slick-prev,
.slick-next {
  background-repeat: no-repeat !important;
  background-color: #fff !important;
  background-position: center !important;
}

.slick-prev {
  background-image: url("../../../public/assets/images/arrow-prev.svg") !important;
}

.slick-next {
  background-image: url("../../../public/assets/images/arrow-next.svg") !important;
}

@media screen and (max-width: 565px) {
  .slick-arrow {
    width: 56px !important;
    height: 56px !important;
  }
}

.slick-arrow::before, ::after {
  display: none !important;
}

.slick-arrow:hover,
:focus {
  background-color: #efeff0 !important;
}
