.carousel {
  margin-top: 60px;
  margin-bottom: 62px;
  color: white;
}

.slick-slider {
  display: flex !important;
  align-items: center;
}

.slick-slide div {
  margin: 0 1rem;
  width: 239px !important;
}

.slick-prev,
.slick-next {
  background-repeat: no-repeat !important;
  background-color: #fff !important;
  background-position: center !important;
}

.slick-prev {
  background-image: url("../../../public/assets/images/arrow-prev.svg") !important;
}

.slick-next {
  background-image: url("../../../public/assets/images/arrow-next.svg") !important;
}
